@import "./variables";

@mixin font-mixin($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
  @if $size {
    font-size: $size !important;
  }

  @if $colour {
    color: $colour !important;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $ls {
    letter-spacing: $ls;
  }
}