$grey-I: #343534;
$grey-II: #8c949c;
$grey-III: #293031;
$grey-IV: #4c4c4c;

$light-grey-I: #f9f9f9;
$light-grey-II: #e6e6e6;
$light-grey-III: #fafafa;

$primary: #23c994;
$secondary: #286aa6;

$white: #fff;