@import '../../../../styles/variables';

.popup-title {
    margin-bottom: 30px;

    .grey-txt {
        margin-right: 10px;
        letter-spacing: 1px;
    }

    .hyperlink-txt {
        letter-spacing: 1px;
    }
}


.buttons {
    display: flex;
    align-items: center;

    .popup-btn-cancel {
        margin-left: 10px;
    }
}

::ng-deep {
    .app-textarea {
        .mat-form-field-appearance-fill .mat-form-field-underline::before {
            background-color: $light-grey-I;
        }

        textarea.mat-input-element {
            resize: none;
            font-size: 12px;
            color: $grey-II;
        }

        .mat-form-field-ripple {
            background-color: $light-grey-I !important;
        }


        .mat-focused {
            .mat-form-field-underline:before {
                background-color: $secondary;
            }
        }
    }
}